.btn, a.btn {
    padding: 8px;
    min-width: 184px;
    height: 40px;

    background: var(--white);

    display: inline-block;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-transform: capitalize;
    text-align: center;
    color: var(--black);

    &--small {
        min-width: unset;
        padding-left: 15px;
        padding-right: 15px;
    }

    @include mobile {
        padding: 8px 9px;
        min-width: unset;
    }

    &--mobile-wide {
        @include mobile {
            min-width: unset;
            width: 100%;
            text-align: left;
            padding: 8px 16px;
        }
    }
}