.swiper {
    width: 100%;
    padding-bottom: 32px !important;

    @include mobile {
        padding-bottom: 30px !important;
    }
}

.swiper-pagination-bullet {
    height: 14px !important;
    width: 14px !important;
    border-color: var(--neutral-grayadadad) !important;
    opacity: 1 !important;

    @include mobile {
        width: 8px !important;
        height: 8px !important;
    }
}

.swiper-pagination-bullet-active {
    border-color: var(--primary-primary-600) !important;
}