.promo {
    margin-bottom: 63px;
}

.promo_content {
    border-radius: 60px;
    background-color: #F4F6F5;
    display: flex;
    column-gap: 24px;
    padding-top: 68px;
    padding-left: 120px;
}

.promo_title {
    max-width: 480px;
    font-size: 96px;
    font-weight: 900;
    line-height: 120px;
}

.promo_desc {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.05em;
}

.promo_btn-wrapper {
    display: flex;
    align-items: center;
    column-gap: 34px;
}

.promo_btn-wrapper::before {
    content: "";
    display: inline-block;
    width: 190px;
    height: 32px;
    background-image: url('./../../img/icons/decor-yellow.svg');
}

.promo_btn {
    padding: 18px 40px;
    background: #000;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: -0.05em;
    color: #fff;
    border-radius: 10px;
}

.highlight {
    position: relative;
    display: inline-block;
}

.highlight::before {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    bottom: 0px;
    left: -40px;
    right: -150px;
    background-color: #fff;
    transform: rotate(-2deg);
}

.highlight--yellow::before {
    background-color: var(--yellow);
    right: -110px;
}

.highlight span {
    position: relative;
}